/*---------
General
---------*/
html {
  font-size: 14px;
  font-family: serif;
  color: #2D0425;
  scroll-behavior: smooth;
}

@media screen and (min-width:720px) {
  html {
    font-size: 16px;
  }
}
li {
  list-style: none;
}
section {
  padding: 60px 0;
}
.container-1280 {
  max-width: 1280px;
  margin: 0 auto;
}